.wrapper {
  width: 1220px;
  margin: 40px auto 40px;
}

.wrapper .titleCourses {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #fff;
}

.wrapper .titleCourses .titleImg {
  background-image: url("./assets/fluent_hat-graduation-24-filled.png");
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

.wrapper .titleCourses h1 {
  color: var(--Primaty-Black, #000);
  font: 400 26px Dela Gothic One;
}