.wrapper {
  width: 1220px;
  margin: 80px auto 40px;
  display: flex;
  justify-content: space-between;
}

.wrapper .login{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapper .login h1 {
  color: var(--Primaty-Black, #000);
  font: 400 56px Dela Gothic One;
}

.wrapper .login input {
  border-radius: 2px;
  border: 1px solid var(--Gray-Gray-4, #ced4da);
  background-color: var(--Primaty-Grey-Light, #f6f5f4);
  display: flex;
  height: 60px;
  width: 520px;
  padding: 6px 20px;
  color: var(--Gray-Gray-5, #535353);
  font: 400 20px Open Sans;
  outline: none;
}

.wrapper .login input::placeholder{
  font: 400 20px Open Sans;
  color: var(--Gray-Gray-5, #adb5bd);
}

.wrapper .login .btnLogin {
  border-radius: 100px;
  background: var(--Primaty-Cyan-Dark, #2b788b);
  width: 110px;
  padding: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 700 16px Montserrat;
  margin-bottom: 95px;
}

.wrapper .img {
  background-image: url(./assets/image\ 33.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 481px;
  height: 320px;
  margin-top: 15px;
}
