.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1220px;
  margin: auto;
}

.wrapper h1 {
  font: 400 16px "Dela Gothic One";
  color: #000;
}

.wrapper .btns {
  display: flex;
  align-items: center;
}

.wrapper .btns .login a{
  color: #000;
  font: 700 16px "Montserrat";
  margin-right: 25px;
}

.wrapper .btns .reg a {
  color: #fff;
  font: 700 16px "Montserrat";
  border-radius: 14.188px;
  background: #2b788b;
  padding: 13px 21px;
}

.glob .lineHeader{
    background-image: url(./assets/Vector\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 8px;
    margin: 20px 0;
}

